* {
    margin: 0;
    font-family: "Rambla", sans-serif;
    padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rambla&display=swap");
.logo {
    height: 50px;
}
.btn1 {
    font-family: "Rambla", sans-serif;
    font-weight: 650;
    border: 2px solid #5a4012;
}
.css-ssh14d {
    padding-right: 10px;
    padding-left: 20px;
}
.btn2 {
    box-shadow: -1px -1px 2px #ffffff, 4px 4px 10px #649793;
}
.text1 {
    font-size: 50px;
    font-weight: 650;
    color: #5a4012;
}
.slide2txt{
    font-size: 20px;
}
.cloud{
    background: linear-gradient(to right,rgba(225, 230, 235, 0.4),rgba(225, 230, 235, 0.4));
}
.thirdBox{
    position: relative;
    top: -20px;
}
.sand {
    position: relative;
    /* top: 100px; */
    background: url("../images/sand.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.mainText{
    padding-top: 25px;
}
.secondSlide {
    background: url("../images/slide2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 110%;
}
@media only screen and (max-width:670px){
    .secondSlide{
        background-position-x: -500px;
    }
}
@media only screen and (max-width: 541px) {
    .text1 {
        font-size: 30px;
        color: #5a4012;
    }
    .text2 {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .sand {
        background-position-x: -50px;
    }
    .mainText{
        padding-top: 115px;
        padding-left: 00px;
    }
}
@media only screen and (max-width: 544px) {
    .lasttext {
        letter-spacing: 1px;
        color: #fff;
        font-size: 10px;
    }
}

.img1 {
    background-size: cover;
    position: relative;
    /* top: -300px; */
}
.pop1{
    font-size: 55px;
}
.pop2{
    font-size: 25px;
    width: 63%;
}
@media only screen and (max-width:470px){
    .pop2{
        width: 100%;
    }
}
.mountain {
    background: url("../images/mountain.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (max-width:350px){
    .mountain{
        background-position-x: -30px;
    }
}
.slide4 {
    background: url("../images/slide4.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.react-calendar__navigation,
.react-calendar__month-view__days,
.react-calendar__navigation__label {
    color: #000;
}
.css-y02vo3 {
    height: 0px;
}
@media only screen and (max-width: 446px) {
    .lasttext {
        color: #fff;
        font-size: 10px;
    }
}
.css-34bctv .css-y02vo3 {
    height: 0px;
}
.slide44{
    font-size: 60px;
}
.lasttext{
    font-size: 19px;
}
@media only screen and (max-width:470px){
    .slide44{
        font-size: 35px;
    }
    .lasttext{
        font-size: 15px;
    }
}