*{
    margin: 0;
    font-family: 'Rambla', sans-serif;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');
.logo {
    height: 50px;
}
.btn1{
    font-family: 'Rambla', sans-serif;
    font-weight: 650;
}
.btn1:hover {
    border: 2px solid #5a4012;
}
.css-ssh14d{
    padding-right: 10px;
    padding-left: 20px;
}
.btn2{
    box-shadow: -1px -1px 2px #FFFFFF, 4px 4px 10px #649793;
}
@media only screen and (max-width:541px){
    .text1{
        font-size: 30px;
    }
    .text2{
        font-size: 15px;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width:544px){
    .lasttext{
        letter-spacing: 1px;
    }
}

.img1{
    background-size: cover;
    position: relative;
    /* top: -300px; */
}

.sand{
    background: url('../images/sand.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 17px;
}
.mountain{
    background: url('../images/mountain.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.secondSlide{
    background: url('../images/slide2.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.slide4{
    background: url('../images/slide4.svg');
    background-repeat: no-repeat;
    background-size: contain;
}